{% for key, val in media %}
    <div class="effect-layla banner-v3-home center-vertical-image zoom-image-hover relative bottom-margin-15-default">
        <img src="{{ val.path }}" alt="">
        <a href="#"></a>
    </div>

{% endfor %}
