{% for key, val in media %}
    <div class="clearfix content-right col-md-6 col-sm-6 col-xs-12 zoom-image-hover overfollow-hidden">
        <div class="overfollow-hidden effect-oscar relative">
            <img class="max-width" src="{{ asset('shop/img/banner_percent_2.png') }}" alt="Banner . . ." />
            <a href="#"></a>
        </div>
    </div>
{% endfor %}
