{% set url = 'sylius_shop_checkout_start' %}
<button  onclick="window.location.href='{{ path(url) }}'" class="btn-proceed-checkout button-hover-red full-width top-margin-15-default">{{ 'sylius.ui.checkout'|trans }}</button>

