{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<p class="title-shoping-cart">{{ headers.default(header|trans, 'cart', 'sylius.ui.edit_your_items_apply_coupon_or_proceed_to_the_checkout'|trans) }}</p>
