<button type="submit" class="ui icon labeled large button" id="sylius-cart-update"><i class="save icon"></i> </button>
<aside class="btn-shoping-cart justify-content top-margin-default bottom-margin-default">
    <a href="{{ path('sylius_shop_homepage') }}" class="clear-margin animate-default">Continue Shopping</a>
    <button type="submit" class="clear-margin animate-default">Update Cart</button>
</aside>